@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

:root{
    --fonte: 'Beau Rivage', cursive;
}

*{
    margin: 0px;
    padding: 0px;

}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: rgb(68, 0, 255);
    font-weight: bold;
    text-decoration: none;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte);
    font-size: 2em;

}

section > p{
    padding-bottom: 1em;
}

section.normal{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

section.imagem {

    background-color: rgb(223, 208, 208);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(0, 0, 0);
    background-size: cover;
    background-attachment: fixed;

}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.363);
    width: 400px;
    padding: 8px;
}

section#img01{
    background-image:url(../imagens/background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    
    
}

section#img02{

    background-image:url(../imagens/background002.jpg);
    background-position: right center;
    background-repeat: no-repeat;
}




footer{
    background-color: black;
    text-align: center;
    color: white;
}